{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    </head>
    <body>
        <script src="{% static "polls/simpleScript.js" %}">superAlert("BOMBAAA!")</script>
        <div class="jumbotron">
        <h1>QUESTIONS</h1>
        {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        </div>
    </body>
</html>